@{
  Layout = "_Layout";
}

<h2>Dr.Sillystringz's Factory</h2>
<hr />

<p>Home of the Silliest Strings this side of Baltimore (tm)</p>

<hr />
<p>@Html.ActionLink("Add Engineers", "Create", "Engineers")</p>
<p>@Html.ActionLink("Add Machines", "Create", "Machines")</p>
